.standard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  main {
    background-color: rgb(67, 67, 67);
    width: fit-content;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px black;
    .operations-screen {
      background-color: white;
      padding: 15px;
      justify-content: space-between;
    }
    .operations-screen,
    .result {
      margin: 15px;
      display: flex;
    }
    .result {
      padding: 0 15px;
    }
    .calculator {
      display: grid;
      padding: 15px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 4px;
      grid-row-gap: 4px;
      .two-columns {
        grid-column: span 2;
      }
      > div {
        display: flex;
        border-radius: 4px;
        box-shadow: 1px 1px 5px 1px black;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border: 1px solid white;
        background-color: rgb(150, 150, 150);
      }
      > div:hover {
        cursor: pointer;
        border-color: transparent;
      }
    }
  }
}
